body {
    background-color: #202225;
    margin: 0;
}

* {
    color: #f4f4f5;
    font-family: Arial, Helvetica, sans-serif;
}

#main_page {
    display: grid;
    grid-template-areas: "servers channels navbar"
                         "servers channels messages";
    grid-template-columns: 25vw 25vw 50vw;

}

#nav_bar {
    grid-area: navbar;
    display: flex;
    flex-direction: column;
}

nav {
    margin: 1em 2em;
}

nav ul{
    list-style: none;
    text-align: right;
    margin: 0;
}

nav ul a {
    padding: 0% .5em;
}

#servers_container {
    grid-area: servers;
    background-color: #2f3136;
    height: 100vh;
}

#channels_container {
    grid-area: channels;
    background-color: #36393f;
}
#message_container {
    grid-area: messages;
    background-color: #202225;
}

button {
    color:black
}
