@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-color: #202225;
  margin: 0;
}

* {
  color: #f4f4f5;
  margin: 0;
  font-weight: lighter;
  font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
}

p, textarea {
  font-family: Arial, Helvetica, sans-serif;
}

#members_container p, #message_container p:first-child {
  font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

input {
  color: #b9bbbe;
  height: 1.5em;
}

.splash_text {
  color: black;
}

.header {
  position: relative;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header::before {
  content: '';
  background-image: url('https://images.unsplash.com/photo-1639673806257-954838b3ec6f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
}

.header h1 {
  font-size: 3em;
  margin: 150px 0 0 0;
}

.header h2 {
  padding: 5% 10%;
}

.sell {
  background-color: white;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
}

.about {
  background-color: #f6f6f6;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
}

img.splash {
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  top: 4px;
  left: 50%;
}

#authors {
  display: flex;
  width: 50vw;
  justify-content: space-evenly;
}

.author_detail {
  margin-top: 25px;
}

.author_detail img {
  margin: auto;
  object-fit: cover;
  display: flex;
  box-sizing: border-box;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.author_detail p {
  padding: 3px;
  font-weight: bold;
}

.author_links {
  display: flex;
  justify-content: space-evenly;
}

.author_links .fa-linkedin,
.author_links .fa-github-square {
  font-size: 2.5em;
  color: rgb(114, 137, 218);
}

#main_page {
  display: grid;
  grid-template-areas:
    'servers selections navbar navbar'
    'servers selections messages members';
  grid-template-columns: 80px 250px auto 220px;
  grid-template-rows: 50px auto;
}

#navbar {
  grid-area: navbar;
  display: flex;
  flex-direction: column;
}

nav {
  margin: 1em 2em;
}

nav ul {
  list-style: none;
  text-align: right;
  margin: 0;
}

nav ul a {
  padding: 0% 0.5em;
}

#servers_container {
  grid-area: servers;
  background-color: #202225;
  box-sizing: border-box;
  height: 100vh;
  width: 80px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 6;
  overflow: auto;
}

#channels_container,
#conversations_container {
  grid-area: selections;
  background-color: #2f3136;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.current_user {
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: 15px;
}

#channel_list {
  height: 86vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#servers_container::-webkit-scrollbar,
#channel_list::-webkit-scrollbar,
#conversations_container::-webkit-scrollbar,
#message_container ul::-webkit-scrollbar{
  display: none;
}

#message_container {
  grid-area: messages;
  background-color: #202225;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
#members_container {
  grid-area: members;
  background-color: #202225;
  margin: 30px;
  
}

button {
  color: black;
}

.user_auth_page {
  height: 100vh;
  width: 100vw;
  background-image: url(https://images.unsplash.com/photo-1641002487920-0c3d5ca4573e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1089&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
}

.user_auth_form {
  margin: auto;
  background-color: #36393f;
  border-radius: 5px;
  box-shadow: 2px 2px 10px black;
  height: fit-content;
  width: 40vw;
  min-width: 330px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

#login_form {
  height: auto;
  padding: 10px;
}

#signup_form {
  height: auto;
  padding: 10px;
}

.user_auth_main_section {
  margin: auto;
  width: 40%;
  min-width: 210px;
}

#signup_form_layout {
  width: 60%;
}

.user_auth_welcome {
  padding: 0.5em 0;
}

#login_exited {
  padding: 0.5em 0;
  font-weight: lighter;
}

.user_auth_input {
  display: flex;
  flex-direction: column;
}

.user_auth_input label {
  color: #b9bbbe;
  text-align: left;
  font-size: 0.75em;
  padding: 0.75em 0 0.25em 0;
}

.drop_zone, .user_auth_input input {
  background-color: #202225;
  text-align: left;
  font-size: 0.75em;
  padding: 0.5em 0;
  border: solid black 1px;
  border-radius: 5px;
  width: 100%;
}

.user_auth_main_section button {
  background-color: rgb(114, 137, 218);
  color: white;
  font-weight: bolder;
  width: 100%;
  margin: 0.5em 0;
  box-sizing: border-box;
  height: 2.25em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#login_logo {
  height: 50%;
  margin: auto;
}

.login_signup_switch_text {
  color: #b9bbbe;
  font-size: 0.75em;
  padding: 0.5em 0;
}

.login_signup_switch_text a {
  color: rgb(114, 137, 218);
  text-decoration: none;
}

#profile_pic_picker {
  margin: 0.5em;
  padding: 0.75em;
  border-radius: 5px;
  background-color: rgb(114, 137, 218);
  color: white;
  font-weight: bolder;
  width: 50%;
  height: 1.5rem;
}

#profile_pic_picker:hover {
  cursor: pointer;
}

#profile_pic_picker::before {
  content: 'Upload A Profile Picture \A';
}

#profile_pic_picker::-webkit-file-upload-button {
  display: none;
}

.hide {
  display: none;
}

.server_info_block, .member_info_block {
  display: flex;
  box-sizing: border-box;
  height: 65px;
  width: 80px;
}

.member_info_block {
  align-items: center;
}

.server_link {
  margin: auto;
  display: flex;
}

.server_image, .server_member_image, .message_content img {
  margin: auto;
  object-fit: cover;
  display: flex;
  align-items: space-around;
  justify-content: space-around;
  box-sizing: border-box;
  height: 3.5rem;
  width: 3.5rem;
  border: 3px solid transparent;
  border-radius: 50%;
  transition: border-radius 0.5s;
}

.selected {
  border: 3px solid white;
}

.server_icon {
  background-color: #36393f;
  text-decoration: none;
  transition: border-radius 0.5s, background-color 0.5s;
}

.server_icon i {
  margin: auto;
  color: green;
  font-size: 1.5em;
}

.server_image:hover, .server_member_image:hover {
  border-radius: 40%;
}

.server_icon:hover,
.server_icon:hover + i {
  background-color: rgb(114, 137, 218);
  color: white;
}

#convo_block {
  display: flex;
  flex-direction: column;
}

#guild_seperator {
  position: relative;
  left: 15px;
  box-sizing: border-box;
  height: 2px;
  width: 50px;
  background-color: #36393f;
}

#server_title_block {
  box-sizing: border-box;
  height: 50px;
  border-bottom: 1px black solid;
  display: flex;
  text-align: center;
}

#server_title_block h4 {
  margin: auto;
}

#server_title_block:hover {
  background-color: rgba(79, 84, 92, 0.16);
}

i.fas.fa-sort-down {
  position: relative;
  top: 15px;
  right: 10px;
}

.serverOptions {
  background-color: #202225;
  position: absolute;
  width: 230px;
  left: 88px;
  top: 55px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.serverOptions button {
  background-color: rgb(114, 137, 218);
  color: white;
  font-weight: bolder;
  width: 80%;
  margin: 0.5em 0;
  box-sizing: border-box;
  height: 2.25em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.channel_name_block {
  display: flex;
  flex-direction: column;
}

.channel_link {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 230px;
  padding: 4px;
  margin: 2px 10px;
  border-radius: 5px;
  text-align: left;
  white-space: nowrap;
}

.channel_link span {
  color: #72767d;
  font-weight: bold;
  max-width: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fa-hashtag {
  color: #72767d;
  margin-right: 10px;
}

.channel_link:hover {
  color: white;
  background-color: #36393f;
}

.channel_link:hover .hide {
  display: inherit;
}

.channel_link button {
  background: none;
  border: none;
}

.channel_link button:hover {
  cursor: pointer;
}

.tippy-box[data-theme~='black'] {
  background-color: black;
  color: white;
}

.tippy-arrow::before {
  color: black;
}

.drop_zone {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.message_content {
  display: flex;
  /* position: relative; */
  margin-bottom: 30px;
}

.message_content p:first-child {
  color: whitesmoke;
  font-weight: bold;
  font-size: 20px;
}

.message_content div {
  margin-left: 0px;
  padding-left: 0px;
}

h1 {
  margin-bottom: 40px;
}

.message_content p {
  word-break: break-word;
}

.message_content textarea {
  width: 40vw;
  height: 20vh;
}

.message_content textarea:focus,
.message_content textarea:hover {
  width: 40vw;
  height: 20vh;
}

#message_container input,
#message_container textarea {
  background-color: black;
  color: white;
  border-radius: 10px;
}

.member_result {
  display: flex;
  margin: 5px 0;
}

.member_result p {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.member_search_image {
  border-radius: 50%;
  height: 30px;
}

.edit_server_page {
  height: 100vh;
  width: 100vw;
  background-image: url(https://images.unsplash.com/photo-1582641857491-7e9987c2e415?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.edit_server_form {
  margin: auto;
  background-color: #36393f;
  border-radius: 5px;
  box-shadow: 2px 2px 10px black;
  height: auto;
  width: 30vw;
  min-width: 330px;
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.edit_server_input {
  display: flex;
  flex-direction: column;
}

.edit_server_input label {
  color: #b9bbbe;
  text-align: left;
  font-size: 0.75em;
  padding: 0.75em 0 0.25em 0;
}

.edit_server_input input {
  background-color: #202225;
  text-align: left;
  font-size: 0.75em;
  padding: 0.5em 0;
  border: solid black 1px;
  border-radius: 5px;
  width: 100%;
}

.main_section {
  margin: auto;
  width: 40%;
  min-width: 210px;
}
.main_section button {
  background-color: rgb(114, 137, 218);
  color: white;
  font-weight: bolder;
  width: 100%;
  margin: 0.5em 0;
  box-sizing: border-box;
  height: 2.25em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.create_server_page {
  height: 100vh;
  width: 100vw;
  background-image: url(https://images.unsplash.com/photo-1582641857491-7e9987c2e415?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.create_server_form {
  margin: auto;
  background-color: #36393f;
  border-radius: 5px;
  box-shadow: 2px 2px 10px black;
  height: auto;
  width: 30vw;
  min-width: 330px;
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.create_server_input {
  display: flex;
  flex-direction: column;
}

.create_server_input label {
  color: #b9bbbe;
  text-align: left;
  font-size: 0.75em;
  padding: 0.75em 0 0.25em 0;
}

.create_server_input input {
  background-color: #202225;
  text-align: left;
  font-size: 0.75em;
  padding: 0.5em 0;
  border: solid black 1px;
  border-radius: 5px;
  width: 100%;
}

.create_channel_page {
  height: 100vh;
  width: 100vw;
  background-image: url(https://images.unsplash.com/photo-1621508654686-809f23efdabc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.create_channel_form {
  margin: auto;
  background-color: #36393f;
  border-radius: 5px;
  box-shadow: 2px 2px 10px black;
  height: auto;
  width: 25vw;
  min-width: 330px;
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.create_channel_input {
  display: flex;
  flex-direction: column;
}

.create_channel_input label {
  color: #b9bbbe;
  text-align: left;
  font-size: 0.75em;
  padding: 0.75em 0 0.25em 0;
}

.create_channel_input input {
  background-color: #202225;
  text-align: left;
  font-size: 0.75em;
  padding: 0.5em 0;
  border: solid black 1px;
  border-radius: 5px;
  width: 100%;
}

.edit_channel_page {
  height: 100vh;
  width: 100vw;
  background-image: url(https://images.unsplash.com/photo-1621508654686-809f23efdabc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.edit_channel_form {
  margin: auto;
  background-color: #36393f;
  border-radius: 5px;
  box-shadow: 2px 2px 10px black;
  height: auto;
  width: 25vw;
  min-width: 330px;
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.edit_channel_input {
  display: flex;
  flex-direction: column;
}

.edit_channel_input label {
  color: #b9bbbe;
  text-align: left;
  font-size: 0.75em;
  padding: 0.75em 0 0.25em 0;
}

.edit_channel_input input {
  background-color: #202225;
  text-align: left;
  font-size: 0.75em;
  padding: 0.5em 0;
  border: solid black 1px;
  border-radius: 5px;
  width: 100%;
}

textarea {
  resize: none;
}

#message_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px
}

#message_container ul, #message_container h1 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* #message_container h1 {
  position: absolute;
  top:10px;
  left: 10px;
} */
#message_container {
  height: 90vh;
}
#message_container ul {
  padding-left: 0px;
  height: fit-content;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 10px;
}

.new_content, .new_content input {
  width: 100%;
}

.new_content{
  height: 50px;
  margin-top: auto;
}

#message_container .new_content input, #message_container textarea {
  border-radius: 7px;
  background-color: rgb(68, 68, 68);
  border: none;
  padding: 10px;
}

#message_container p:first-child {
  font-size: 15px;
  font-weight: lighter;
}

#message_container p {
  padding: 5px;
}

#message_container .new_content input {
  word-break: break-word;
  height: fit-content;
}

.new_content input:focus, #message_container textarea, #message_container textarea:focus {
  border: none;
  outline: none;
}

#message_container .new_content input:focus, #message_container textarea:focus {
  background-color: black;
}

.delete_button {
  background: none;
  border: none;
  color: red;
  margin: 5px;
  margin-left: 0px;
  padding: 5px;
  padding-left: 0px;
  border-radius: 2px;
}

.delete_button:hover {
  background: red;
  color: white;
}

h3 {
  font-size: 17px;
}

pre {
  color: red;
  size: 10px;
  padding: 5px;
}
