body {
  background-color: #202225;
  margin: 0;
}

* {
  color: #f4f4f5;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

input {
  color: #b9bbbe;
  height: 1.5em;
}

.splash_text{
  color: black;
}

.header {
  position: relative;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header::before {
  content: '';
  background-image: url('https://images.unsplash.com/photo-1639673806257-954838b3ec6f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
}

.header h1 {
  font-size: 3em;
  margin: 150px 0 0 0;
}

.header h2 {
  padding: 5% 10%;
}

.sell {
  background-color: white;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
}

.about {
  background-color: #f6f6f6;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
}

img.splash {
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  top: 4px;
  left: 50%;
}

#authors {
  display: flex;
  width: 50vw;
  justify-content: space-evenly;
}

.author_detail {
  margin-top: 25px;
}

.author_detail img{
  margin: auto;
  object-fit: cover;
  display: flex;
  box-sizing: border-box;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.author_detail p{
  padding: 3px;
  font-weight: bold;
}

.author_links {
  display: flex;
  justify-content: space-evenly;
}

.author_links .fa-linkedin,
.author_links .fa-github-square {
  font-size: 2.5em;
  color: rgb(114, 137, 218);
}



#main_page {
  display: grid;
  grid-template-areas:
    'servers selections navbar navbar'
    'servers selections messages members';
  grid-template-columns: 80px 25vw 50vw;
}

#nav_bar {
  grid-area: navbar;
  display: flex;
  flex-direction: column;
}

nav {
  margin: 1em 2em;
}

nav ul {
  list-style: none;
  text-align: right;
  margin: 0;
}

nav ul a {
  padding: 0% 0.5em;
}

#servers_container {
  grid-area: servers;
  background-color: #202225;
  box-sizing: border-box;
  height: 100vh;
  width: 80px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

#servers_container::-webkit-scrollbar {
  display: none;
}

#channels_container,
#conversations_container {
  grid-area: selections;
  background-color: #2f3136;
  box-sizing: border-box;
  width: 250px;
}

#message_container {
  grid-area: messages;
  background-color: #202225;
}
#members_container {
  grid-area: members;
  background-color: #202225;
}

button {
  color: black;
}

.user_auth_page {
  height: 100vh;
  width: 100vw;
  background-image: url(https://images.unsplash.com/photo-1641002487920-0c3d5ca4573e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1089&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
}

.user_auth_form {
  margin: auto;
  background-color: #36393f;
  border-radius: 5px;
  box-shadow: 2px 2px 10px black;
  height: 40vh;
  width: 40vw;
  min-width: 330px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

#login_form {
  height: 40vh;
}

#signup_form {
  height: 50vh;
}

.user_auth_main_section {
  margin: auto;
  width: 40%;
  min-width: 210px;
}

#signup_form_layout {
  width: 60%;
}

.user_auth_welcome {
  padding: 0.5em 0;
}

#login_exited {
  padding: 0.5em 0;
  font-weight: lighter;
}

.user_auth_input {
  display: flex;
  flex-direction: column;
}

.user_auth_input label {
  color: #b9bbbe;
  text-align: left;
  font-size: 0.75em;
  padding: 0.75em 0 0.25em 0;
}

.user_auth_input input {
  background-color: #202225;
  text-align: left;
  font-size: 0.75em;
  padding: 0.5em 0;
  border: solid black 1px;
  border-radius: 5px;
  width: 100%;
}

.user_auth_main_section button {
  background-color: rgb(114, 137, 218);
  color: white;
  font-weight: bolder;
  width: 100%;
  margin: 0.5em 0;
  box-sizing: border-box;
  height: 2.25em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#login_logo {
  height: 50%;
  margin: auto;
}

.login_signup_switch_text {
  color: #b9bbbe;
  font-size: 0.75em;
  padding: 0.5em 0;
}

.login_signup_switch_text a {
  color: rgb(114, 137, 218);
  text-decoration: none;
}

#profile_pic_picker {
  margin: 0.5em;
  padding: 0.75em;
  border-radius: 5px;
  background-color: rgb(114, 137, 218);
  color: white;
  font-weight: bolder;
  width: 50%;
  height: 1.5rem;
}

#profile_pic_picker:hover {
  cursor: pointer;
}

#profile_pic_picker::before {
  content: 'Upload A Profile Picture \A';
}

#profile_pic_picker::-webkit-file-upload-button {
  display: none;
}

.hide {
  display: none;
}

.server_info_block {
  display: flex;
  box-sizing: border-box;
  height: 65px;
  width: 80px;
}

.server_link {
  margin: auto;
  display: flex;
}

.server_image {
  margin: 5px auto;
  object-fit: cover;
  display: flex;
  align-items: space-around;
  justify-content: space-around;
  box-sizing: border-box;
  height: 3.5rem;
  width: 3.5rem;
  border: 3px solid transparent;
  border-radius: 50%;
  transition: border-radius 0.5s;
}

.selected {
  border: 3px solid white;
}

.server_icon {
  background-color: #36393f;
  text-decoration: none;
  transition: border-radius 0.5s, background-color 0.5s;
}

.server_icon i {
  margin: auto;
  color: green;
  font-size: 1.5em;
}

.server_image:hover {
  border-radius: 40%;
}

.server_icon:hover,
.server_icon:hover + i {
  background-color: rgb(114, 137, 218);
  color: white;
}

#convo_block{
  display: flex;
  flex-direction: column;
}

#guild_seperator {
  position: relative;
  left: 15px;
  box-sizing: border-box;
  height: 2px;
  width: 50px;
  background-color: #36393f;
}

#server_title_block {
  box-sizing: border-box;
  height: 50px;
  border-bottom: 1px black solid;
  display: flex;
  text-align: center;
}

#server_title_block h4 {
  margin: auto;
}

#server_title_block:hover {
  background-color: rgba(79, 84, 92, 0.16);
}

.channel_name_block {
  display: flex;
  flex-direction: column;
}

.channel_link {
  display: inline-block;
  box-sizing: border-box;
  width: 230px;
  padding: 4px;
  margin: 2px 10px;
  text-overflow: ellipsis;
  border-radius: 5px;
  color: #72767d;
  font-weight: bold;
  text-align: left;
}

.fa-hashtag {
  color: #72767d;
}

.channel_link:hover {
  color: white;
  background-color: #36393f;
}

.tippy-box[data-theme~='black'] {
  background-color: black;
  color: white;
}

.tippy-arrow::before {
  color: black;
}
